<div class="container">
	<div class="row">
		<main class="col-md-12">
			<!-- Start your code here -->
			<h1>Welcome to the About page</h1>
			<p>Hello and a warm welcome to the "About" page! Here, you'll get to know a little bit more about the person behind all the tutorials and resources you see on this site.</p>

			<h2>Meet the Developer</h2>
			<p>I am Danish Khan Durrani, a dedicated student at Seneca College with the student ID 128284221, and I am currently part of the Business Information Technology program. With a passion for web development that began as a mere interest, I am now eagerly embracing this exciting field. My enthusiasm has shaped a career path I truly love, and I'm thrilled to offer my knowledge in HTML5 and Express.js routing through this website. Together, we'll transform the intricate aspects of web development into an enjoyable learning journey. Welcome aboard my exploration</p>
			<p>Feel free to explore the different sections and pages of this website to learn more!</p>
			<!-- End your code here -->
		</main>
	</div>
</div>